body{font:13px arial,sans-serif;color:#333;padding: 25px;max-width:768px}
a{color:#f06caf}
a:hover{color:#E00073}
pre{font-size:110%;background:#eee;padding:20px}
blockquote{padding:20px}
h1{font-size:16px}
h2{font-size:14px}
h3{font-size:13px}
hr{border:1px solid #ddd;border-width:1px 0 0 0;margin-bottom:30px}
.author{float:right;font-size:10px}